* {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  width: 375px;
  margin: 5px auto;
  min-height: 100vh;
}

h1 {
  margin: 0.5em 0;
  font-size: 22px;
  background: #dadada;
  text-align: center;
  padding: 0.5em 0;
}

p {
  margin: 0.5em 5px;
  text-align: right;
}

#CurrentData {
  border-spacing: 0px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10vh;
}

#CurrentData th {
  text-align: left;
  text-transform: capitalize;
  padding: 2em 1em 2em 1em;
  border-left: 1px solid #222;
}

#CurrentData th.sub {
  padding-left: 2em;
}

#CurrentData th.sub::before {
  content: "→ ";
}

#CurrentData td {
  text-align: right;
  padding: 2em 1em 2em 2em;
  border-right: 1px solid #222;
}

#CurrentData th,
#CurrentData td {
  border-bottom: 1px solid #222;
}

#CurrentData tr:first-of-type th {
  padding: 1em 5px;
  border-left: none;
}

#CurrentData tr:first-of-type td {
  padding: 1em 5px;
  border-right: none;
}
