* {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 75ch;
  margin: 0 auto 10vh;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 22px;
  background: #bbb;
  text-align: center;
  padding: 0.5em 0;
}

form {
  margin: 0 0 1em;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  background: #dadada;
}

select {
  font-size: 20px;
}

#Updated {
  font-size: 13px;
  margin: 0.5 5px;
}

p {
  margin: 0.5em 5px;
  text-align: right;
}

#CurrentData {
  border-spacing: 0px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10vh;
}

#CurrentData th {
  text-align: left;
  text-transform: capitalize;
  padding: 2em 1em 2em 1em;
  /* border-left: 1px solid #222; */
}

#CurrentData th.sub {
  padding-left: 2em;
}

#CurrentData th.sub::before {
  content: "→ ";
}

#CurrentData td {
  text-align: right;
  padding: 2em 1em 2em 2em;
  /* border-right: 1px solid #222; */
}

#CurrentData th,
#CurrentData td {
  border-bottom: 1px solid #222;
}

#CurrentData tr.noBorders th {
  padding: 1em 5px;
  border: none;
}

#CurrentData tr.noBorders td {
  padding: 1em 5px;
  border: none;
}

#CurrentData tr:first-of-type th {
  padding: 1em 5px;
  border-left: none;
}

#CurrentData tr:first-of-type td {
  padding: 1em 5px;
  border-right: none;
}

#Chart {
  width: 100%;
  height: 50vh;
  background: #bbb;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2vmin;
}

#HistoricData {
  --pos-color: #585858;
  --deaths-color: #929292;
}

.day {
  width: 10%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.date {
  font-size: 13px;
  writing-mode: tb-rl;
  flex: auto;
  transform: rotateZ(-180deg) translateY(10px);
}

.bar {
  flex: 1 1 40%;
  height: 0%;
  overflow: hidden;
  transition: height 1s ease-in-out;
  color: white;
  text-shadow: 1px 1px black
}

.bar.pos {
  background: var(--pos-color);
}

.bar.pos::before,
.bar.deaths::before {
  content: attr(data-total);
  display: block;
  writing-mode: tb-rl;
  transform: rotateZ(-180deg) translateY(-10px);
  transform-origin: 60% 50%;
  text-align: end;
  font-size: 13px;
}

.bar.deaths {
  background: var(--deaths-color);
}

.key .pos,
.key .deaths {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1em 0;
}

.key .color {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.key .pos .color {
  background: var(--pos-color);
}

.key .deaths .color {
  background: var(--deaths-color);
}